<div class="error">
  <h1>Ecommerce de Gaston</h1>
  <h3>Tu perfil</h3>
  <p class="white">Estos son los datos que tenemos sobre vos (sin datos sensibles)</p>
  <div id="info" class="white"></div>
  <div id="carritoBDD" class="white"></div>
  <div class="carrito white"></div>
  <button id="logout">Desloguearme</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/profile.js"></script>