<nav>
  <ul class="navigation">
    <li><a href="/admin">>> Admin Carritos</a></li>
    <li><a href="/home">>> Admin Productos</a></li>
    <li><a href="/catalogo">>> Catálogo público</a></li>
    <li><a href="/chat">>> Customer Support</a></li>
  </ul>
</nav>
<div class="error">
  <h1>Ecommerce de Gaston</h1>
  <h3>Tu perfil</h3>
  <p>Estos son los datos que tenemos sobre vos (sin datos sensibles)</p>
  <p><strong>Nombre:</strong> {{user.name}}</p>
  <p><strong>Email:</strong> {{user.email}}</p>
  <p><strong>Edad:</strong> {{user.age}}</p>
</div>